* {
  box-sizing: border-box;
}

.container-xl {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: center;
  margin: auto;
  margin-top: 30px;
}

.card {
  border-radius: 5px;
  /* padding: 5px; */
  width: 300px;
  height: 500px;
  transition: transform .9s ease;

  border: 1px solid rgba(0, 0, 0, .125);
}

.area-img-info .info-personagem h2 {
  font-family: var(--font-principal);
  text-align: left;
  font-size: 1.2rem;
  padding: 0;
  margin: 0;
}

.area-img-info .info-personagem p {
  font-family: var(--font-principal);
  text-align: left;
  font-size: .9rem;
  padding: 5px 0;
  margin: 5px 0;
  font-weight: 600;
  border-top: 1px solid white;
  color: orangered;
}

.area-img-info .info-personagem h3 {
  font-family: var(--font-principal);
  margin: 10px;
}