table {
  width: 90%;
  border-collapse: separate;
  border-spacing: 0;
  font-family: var(--font-secundaria);
  font-size: .8rem;
  margin-top: -30px;
  border: 1px solid rgb(137, 137, 137);
  border-radius: 10px;
  background-color: rgba(72, 72, 72, 0.100);
  z-index: -1;
}

.info-personagem table strong {
  font-weight: 600;
}

td, th {
  border-top: 1px solid #ffffff63;
}

tr {
  border: 1px solid #ffffff63;
  border-left: none;
  border-right: none;
  color: var(--cor-dados-tabela-info-personagem);
}

table tr:first-child {
  border-top: none;
}

table tr:last-child {
  border-bottom: none;
}

td {
  width: 50%;
  padding: 7px 7px;
}

td:first-child {
  text-align: right;  /* Alinha a coluna esquerda à direita */
  font-weight: bold;
}

td:last-child {
  text-align: left;  /* Alinha a coluna direita à esquerda */
}

table .obs {
  text-align: center;
  font-weight: 500;
}