body {
  background-color: white;
}

.area-links a {
  color: orange;
}

.area-links {
  background-color: #f0f0f0;
}

.fa-pen, .fa-trash {
  filter: drop-shadow(1px 1px 1px rgba(0, 0, 0, 0.2));
}

.info-personagem .editar-excluir-dentro-info a {
  color: #dadada;
  border: 1px solid #ffffff63;
  box-shadow: 1px 1px 2px #606060;
}

.card {
  box-shadow: 0px 0px 2px #c5c5c5;
  border: 3px solid rgb(245, 245, 245);
}

.info-personagem {
  background: rgba(255, 255, 255, 0.7);
}

.area-img-info .info-personagem h2 {
  color: rgb(31, 31, 31);
}

.area-img-info .info-personagem h3 {
  color: rgb(31, 31, 31);
}